@use 'blocks/variables';
@use 'blocks/reset';
@use 'blocks/base';
@use 'blocks/header';
@use 'blocks/footer';
@use 'blocks/main';

@font-face {
    font-family: 'Cardo';
    src: url(../fonts/Cardo-Regular.woff) format('woff');
    src: url(../fonts/Cardo-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cardo';
    src: url(../fonts/Cardo-Bold.woff) format('woff');
    src: url(../fonts/Cardo-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cardo';
    src: url(../fonts/Cardo-Italic.woff) format('woff');
    src: url(../fonts/Cardo-Italic.woff2) format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(../fonts/Roboto-Bold.woff) format('woff');
    src: url(../fonts/Roboto-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}