@use 'variables' as v;

@mixin font($font-family, $font-weight, $font-style, $font-size, $line-height, $letter-spacing) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}


.footer {
    width: stretch;
    padding-top: 40px;
    min-height: 448px;
    background-color: #E9E9E9;
}

.footer__container-top {
    display: flex;
    gap: 124px;
    width: 1140px;
    margin-inline: auto;
}

.footer__lists {
    width: 630px;
    display: flex;
    gap: 2px;
    

    ul {
        flex: 1;
    }
}

.list__name {
    text-align: center;
    @include font('Cardo', 400, normal, 1.3rem, 1, 0);
    text-transform: uppercase;
    color: v.$color-black;
    margin-bottom: 45.5px;
}


.link {
    display: block;
    text-align: center;
    @include font('Cardo', 400, normal, 0.9rem, 1.3, 0);
    color: v.$color-black;
    margin-bottom: 13px;
}

.news {
    max-width: 342px;
    height: 284px;
    padding: 0 37px;

    &__title {
        @include font('Cardo', 400, normal, 0.9rem, 2, 0);
        color: v.$color-black;
        margin-bottom: 17px;
    }

    &__link {
        display: block;
        width: 237px;
        height: 25px;
        background-color: #fff;
        margin-inline: auto;
        margin-bottom: 17px;
        color: v.$color-black;
        font-family: 'Cardo';
        font-weight: 400;
        font-size: 0.9;
        line-height: 1;
        letter-spacing: 0;
        padding-left: 42px;
        padding-top: 3px;
    }
}

.trees {
    display: flex;
    margin-inline: auto;
    justify-content: space-between;
    padding: 0 40px;
    margin-bottom: 15px;
}

.footer__bottom {
  display: flex;
  width: 1140px;
  margin-inline: auto;
  justify-content: space-between;
  padding: 0 100px;

  .woodendot {
    padding-top: 30px;
    font-family: 'Cardo';
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.7;
    letter-spacing: 0;
    color: v.$color-black;
  }

  .privacy {
    padding-top: 25px;
    font-family: 'Cardo';
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 2;
    letter-spacing: 0;
    color: v.$color-black;
  }
}

