@use 'variables' as v;

@mixin font($font-family, $font-weight, $font-style, $font-size, $line-height, $letter-spacing) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}


.header {
    width: stretch;
    min-height: 805px;
   
    &__wrapper {
        width: stretch;
        height: 105px;
        padding: 0 20px;
    }
}

.header__nav {
    width: stretch;
    height: 69px;
    display: flex;
    align-items: center;
    gap: 340px;

    .menu__list {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

.link {
    font-family: 'Cardo', sans-serif;
    font-weight: 400;
    font-size: 1.05rem;
    line-height: 1;
    letter-spacing: 0;
    color: v.$color-black;
}

.header__line {
    width: stretch;
    height: 1px;
    background-color: v.$color-line;
}

.header__container {
    width: stretch;
    height: 698px;
    background-image: url('../images/bg/header-bg.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 257px;
}

.header__container-wrapper {
    width: 790px;
    margin-inline: auto;
    margin-bottom: 250px;
}

.header__container-title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.7rem;
    color: v.$color-primary;
    margin-bottom: 40px;
}

.header__container-link {
    display: block;
    width: 204px;
    height: 33px;
    background-color: transparent;
    color: v.$color-primary;
    margin-inline: auto;
    border: 1px solid v.$color-primary;
    text-align: center;
    font-family: 'Cardo', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.3;
    letter-spacing: 0;
}

.header__decor {
    width: 324px;
    height: 50px;
    margin-left: 15px;
    background-color: v.$color-decor;
    padding: 15px 0;

    &-content {
        font-family: 'Cardo', sans-serif;
        font-weight: 400;
        color: v.$color-primary;
        text-align: center;
        font-size: 0.9rem;
        line-height: 1.3;
        letter-spacing: 0;
    }
}