@use 'variables' as v;

@mixin font($font-family, $font-weight, $font-style, $font-size, $line-height, $letter-spacing) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}



.cloe {
    width: stretch;
    margin-bottom: 29px;

    &__container-service {
        width: stretch;
        height: 155px;
        display: flex;
        align-items: center;
        gap: 73px;
        padding-left: 70px;
    }

    &__galary {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

.cloe__container-item {
    display: flex;
    align-items: center;
    
}

.item1 {
    gap: 22px;
}

.item2, .item3 {
    gap: 10px;
}

.item4 {
    gap: 39px;
}

.item5 {
    margin-left: 97px;
}

.cloe-shop {
    width: stretch;
    padding-top: 114.8px;
}

.cloe-shop__container {
    width: stretch;
    display: grid;
    grid-template-columns: auto 960px;

    .cloe-shop__content {
        display: flex;
        flex-direction: column;
        align-items: end;
        padding: 48px 22px;
    }
}

.cloe-shop__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.1rem;
    color: v.$color-black;
    line-height: 1.7;
    letter-spacing: 0;
    padding-right: 24px;
    margin-bottom: 4px;
}

.cloe-shop__subtitle {
    font-family: 'Cardo', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.125rem;
    color: v.$color-black;
    line-height: 37.14px;
    letter-spacing: 0;
    padding-right: 24px;
    margin-bottom: 22.5px;
}

.cloe-shop__ceil {
    font-family: 'Cardo', sans-serif;
    font-weight: 400;
    font-style: regular;
    font-size: 0.9rem;
    line-height: 27.86px;
    letter-spacing: 0;
    color: v.$color-black;
    padding-right: 24px;
    margin-bottom: 26px;
}

.cloe-shop__description {
    font-family: 'Cardo', sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 437px;
    font-size: 1.125rem;
    line-height: 30.6px;
    color: v.$color-grey;
    margin-bottom: 66px;
    text-align: right;
}

.cloe-shop__link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.3;
    letter-spacing: 0;
    border-bottom: 1px solid v.$color-black;
    color: v.$color-black;
}

.pelican {
    display: grid;
    grid-template-columns: 960px auto;
    gap: 38px;
    margin-bottom: 29px;
}

.pelican__text {
    padding-top: 96px;

    &-title {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 1.9rem;
        line-height: 1.8;
        letter-spacing: 0;
        color: v.$color-black;
        margin-bottom: 6px;
    }

    &-subtitle {
        font-family: 'Cardo', sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: 1.25rem;
        line-height: 37.14px;
        letter-spacing: 0;
        color: v.$color-black;
        margin-bottom: 5px;
    }

    &-ceil {
        font-family: 'Cardo', sans-serif;
        font-weight: 400;
        font-size: 0.9rem;
        line-height: 2;
        letter-spacing: 0;
        color: v.$color-black;
        margin-bottom: 30px;
    }

    &-description {
        font-family: 'Cardo', sans-serif;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.7;
        letter-spacing: 0;
        color: v.$color-grey;
        width: 382px;
        margin-bottom: 15px;
    }

    &-variants {
        font-family: 'Cardo', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1rem;
        line-height: 1.65;
        letter-spacing: 0;
        color: v.$color-grey;
        margin-bottom: 40px;
    }

    &-link {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 1.3;
        letter-spacing: 0;
        color: v.$color-black;
        border-bottom: 1px solid v.$color-black;
    }

}

.alada {
    width: stretch;
    display: grid;
    grid-template-columns: auto 960px;
    margin-bottom: 29px;
}

.alada__text {
    text-align: right;
    padding: 48px 48px 39px 60px;

    &-accent {
        @include font('Cardo', 400, italic, 0.875rem, 2.1, 0);
        color: v.$color-red;
        margin-bottom: 20px;
    }

    &-title {
        @include font('Roboto', 700, normal, 2rem, 1.8, 0);
        color: v.$color-black;
        margin-bottom: 4px;
    }

    &-subtitle {
        @include font('Cardo', 400, italic, 1.125rem, 2.1, 0);
        color: v.$color-black;
        margin-bottom: 22px;
    }

    &-ceil {
        @include font('Cardo', 400, normal, 0.9rem, 1.7, 0);
        color: v.$color-black;
        margin-bottom: 50px;
    }

    &-description {
        @include font('Cardo', 400, normal, 1.125rem, 1.7, 0);
        color: v.$color-grey;
        margin-bottom: 25px;
        
    }

    &-variants {
        @include font('Cardo', 400, normal, 1rem, 1.6, 0);
        color: v.$color-ultragrey;
        margin-bottom: 48px;
    }

    &-link {
        @include font('Roboto', 400, normal, 1.1rem, 1.3, 0);
        color: v.$color-black;
        border-bottom: 1px solid v.$color-black;
    }
}

.alba {
    width: stretch;
    display: grid;
    grid-template-columns: 960px auto;
    margin-bottom: 29px;
}

.alba__text {
    padding: 48px 48px 5px 60px;

    &-title {
        @include font('Roboto', 700, normal, 2rem, 1.8, 0);
        color: v.$color-black;
        margin-bottom: 4px;
    }

    &-subtitle {
        @include font('Cardo', 400, italic, 1.2rem, 2, 0);
        color: v.$color-black;
        margin-bottom: 23px;
    }

    &-ceil {
        @include font('Cardo', 400, normal, 0.9rem, 1.9, 0);
        color: v.$color-black;
        margin-bottom: 23px;
    }

    &-description {
        @include font ('Cardo', 400, normal, 1.125rem, 1.7, 0);
        color: v.$color-grey;
        margin-bottom: 18px;
    }

    &-variants {
        @include font('Cardo', 400, normal, 1rem, 1.6, 0);
        color: v.$color-ultragrey;
        margin-bottom: 46px;
    }

    &-link {
        @include font('Roboto', 400, normal, 1.1rem, 1.3, 0);
        color: v.$color-black;
        border-bottom: 1px solid v.$color-black;
    }

    &-sprite {
        padding-top: 50px;
    }
}

.batea {
    display: grid;
    grid-template-columns: auto 960px;
    margin-bottom: 20px;
}

.batea__text {
    padding: 96px 48px 2px 60px;
    direction: rtl;

    &-title {
        @include font('Roboto', 700, normal, 2rem, 1.85, 0);
        color: v.$color-black;
        margin-bottom: 4px;
    }
    
    &-subtitle {
        @include font('Cardo', 400, italic, 1.125rem, 2.1, 0);
        color: v.$color-black;
        margin-bottom: 22px;
    }

    &-ceil {
        @include font('Cardo', 400, normal, 0.9rem, 1.9, 0);
        color: v.$color-black;
        margin-bottom: 46px;
    }

    &-description {
        @include font('Cardo', 400, normal, 1.125rem, 1.7, 0);
        color: v.$color-grey;
        margin-bottom: 23px;
    }

    &-variants {
        @include font('Cardo', 400, normal, 1rem, 1.6, 0);
        color: v.$color-ultragrey;
        margin-bottom: 48px;
    }

    &-link {
        @include font('Roboto', 400, normal, 1.1rem, 1.3, 0);
        color: v.$color-black;
        border-bottom: 1px solid v.$color-black;
    }
}

.swiper__galary {
    width: stretch;
    padding-top: 41px;

    &-content {
        width: 500px;
        margin-inline: auto;
    }
}

.swiper__galary-title {
    text-align: center;
    @include font('Cardo', 700, normal, 1.9rem, 1.3, 0);
    color: v.$color-swiper;
    margin-bottom: 21px;
}

.swiper__galary-subtitle {
    text-align: center;
    @include font('Cardo', 400, normal, 1.125rem, 1.9, 0);
    color: v.$color-black;
    margin-bottom: 37px;
}

.swiper1 {
    width: 1120px;
    height: 600px;
    
}

.swiper-slide__link {
    @include font('Cardo', 400, normal, 0.85rem, 2, 0);
    color: v.$color-primary;
    position: relative;
    
}

.swiper-slide__link::before {
        position: absolute;
        content: "";
        display: inline-block;
        margin-left: -20px;
        top: 3px;
        width: 14px;
        height: 14px;
        background-image: url('../images/icons/instagram.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
}


.swiper1-card1 {
    width: 367px;
    height: 550px;
    padding-top: 41px;
    padding-left: 300px;
}

.swiper1-card2 {
    width: 367px;
    height: 550px;
    padding-top: 41px;
    padding-left: 251px;
}

.swiper1-card3 {
    width: 367px;
    height: 550px;
    padding-top: 41px;
    padding-left: 270px;
}

.swiper-pagination-bullet {
    border-radius: 0;
}



.cit {
    width: stretch;
    height: 400px;
    padding-top: 83px;
    margin-bottom: 43.5px;
}

.swiper2 {
    width: 1190px;
    height: 300px;
}

.label {
    width: stretch;
}

.ourfurniture {
    width: stretch;
    height: 370px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}




    
