$color-primary: #FFFFFF;
$color-black: #000000;
$color-line: #F2F2F2;
$color-decor: #050505;
$color-grey: #525252;
$color-red: #BC1414;
$color-ultragrey: #54595F;
$color-swiper: #3A3A3A;
$color-bg: #F6F6F6;
$color-press: #454545;